

.carousel-component{
    padding: 64px 0px;
    margin-left: 120px;
    width: 100%;
    & .flexbox{
        display: flex;
        align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 24px;
    
    }
    & ul{
        height: max-content;
        padding: 16px;
        padding-left: 0px;
        display: flex;
        flex: column;
        gap: 26px;
        overflow: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: mandatory;
        scroll-snap-align: center;
        & .card{
            
            width: 200px !important;
            display: flex;
            flex-direction: column;
            gap: 16px;
            transition: ease-out 0.15s;
            overflow: visible;
            &:hover{
                transition: ease-in 0.15s;
                box-shadow: 0px 5px 0px 0px rgba(250,47,47,1);
                cursor: pointer;
                transform: translateY(-5px);
            }
            & .card-upper{
                
                & img{
                    display: block !important;
                    width: 200px;
                    height: 280px;
                    object-fit: cover;
                }
            }
            & .card-lower{
                max-width: 200px;
                overflow: hidden;
                & a{
                    color: var(--primary);
                    font-size: 1em;
                    font-weight: 600;
                    text-decoration: none;
                    height: 55px;
                    white-space: nowrap;
                    text-overflow: clip;
                    overflow: hidden;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 200px;
                        height: 280px;
                        margin-top: -296px;
                       
                    }
                }
            }
        }
    }
    @media screen and (min-width: 0px) and (max-width: 1000px) {
        & .flexbox{
            flex-direction: column;
    align-items: flex-start;
            margin-left: 0px;
        }
        & .carousel-buttons{
           position: relative;
           display: flex;
           flex-direction: row;
           margin-left: 0;
           margin-top: 0;
           gap: 10px;
           & button{
            padding: 15px 20px;
            border-radius: 4px;
            border: none;
            background-color: #fff;;
            transition: ease-out 0.15s;
            box-shadow: 1px 1px 9px 3px rgba(235,230,235,1);
             &:focus{
               background-color: #FF0000;
               color: #fff;;
             }
             &:hover{
               transition: ease-in 0.15s;
               background-color: #FF0000;
               color: #fff;;
             }
       }
    }
    }

    @media screen and (min-width: 1000px) {
        & .carousel-buttons{
            /* position: absolute; */
            display: flex;
            flex-direction: row;
            gap: 10px;
            & button{
                padding: 15px 20px;
                 border-radius: 4px;
                 border: none;
                 background-color: #fff;;
                 transition: ease-out 0.15s;
                 box-shadow: 1px 1px 9px 3px rgba(235,230,235,1);
                  &:focus{
                    background-color: #FF0000;
                    color: #fff;;
                  }
                  &:hover{
                    cursor: pointer;
                    transition: ease-in 0.15s;
                    background-color: #FF0000;
                    color: #fff;;
                  }
            }
        }
    }
}

