.section-1{
    
    margin: 0 auto;
    max-width: 1280px;
    & .hero{
        padding-top: 80px;
        & picture{
            & img{
                width: 100%;
                height:  90px;
            }
        
        }
    }
}

