.section-1{
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
}

/* .popup{
    padding: 100px;
    background-color: rgba(236, 92, 92, 0.904);
    position: absolute;
    margin: 0 auto;
    left: 45%;
    padding: 150px;
    top: 30%;

} */