.wrapper{
    padding-top: 120px;
    padding-left: 128px;
    max-width: 1400px;
    margin: 0 auto;
    scroll-snap-type: proximity;
    scroll-snap-align: left;
    & .family-overview--intro{

        & #goback{
            text-decoration: none;
            color: #000; 

            &:hover{
                color: #FF0000;
            }
        }

        & h1{
            padding-top: 32px;
        }

        & h3{
            margin-top: 16px;
        }
                      
        & .users{
            display: flex;
            gap: 16px;
            padding-top: 32px;
            overflow: auto;

                & button{
                    padding: 16px;
                    font-weight: 600;
                    border: 2px solid #000;
                    border-radius: 4px;
                    background-color: #fff;
                    transform: scale(100%);
                    transition: ease-out 0.2s;
                    
                    &:hover{
                        cursor: pointer;
                        color: #FF0000;
                        border:  2px solid  #FF0000 ;
                        transform: scale(96%);
                        transition: ease-in 0.1s;
                    }
                }
            }
    }

    & .stats{
        margin-top: 64px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
        padding: 64px;
        border-radius: 6px;
        & h2{
            color: #000;
        }

        & .user--info{
            display: flex;
            gap: 16px;
            & .before{
                font-weight: 600;
                & li{
                    &::after{
                        content: ":";
                        position: relative;
                        font-size: 1em;
                        font-weight: 600;
                    }
                }
            }
            & ul{
                display: flex;
                flex-direction: column;
                gap: 8px;
                list-style-type: none;
                padding-top: 16px;
                & li{
                    font-size: 1.2em;
                }
            }
        }

        & .carousel-component{
            margin-left: 164px !important;
        }
    }
}
@media screen and (min-width: 0px) and (max-width: 600px){
    .wrapper{
        padding-top: var(--extra-extra-large);
        padding-left: var(--medium);
        padding-right: var(--medium);
        max-width: 100%;
    }



  }